# Google Sheets Config
GOOGLE_SHEET_ID=your_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_email_here
GOOGLE_PRIVATE_KEY="your_private_key_here"

# Port and Books Path
PORT=3000
# Ensure NAS_PATH does not have trailing spaces. Use quotes if path contains spaces.
NAS_PATH="/mnt/z/_ebooks_/Ebooks_Tong_Hop/_WorkingEbooks_"
BOOKS_PATH="/books"
